body {
font-family: Arial, Helvetica, sans-serif;
background-image: linear-gradient(to right, #f461ba, #fc4444 , #ff9616);
background-size: cover;
}

.logintext{
  text-align: center;
}
[class*="reg_loginform"]{
  border: 3px solid #f1f1f1;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.5%;
  width: 50%;
  border-radius: 25px;
}
@media only screen and (min-width: 768px) {
.reg_loginform {
  border: 3px solid #f1f1f1;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.5%;
  width: 25%;
  border-radius: 25px;
}
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 25px;
}

.reg_login {
  background-image: linear-gradient(to right, #f461ba, #fc4444 , #ff9616);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 25px;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 15%;
}
